<h1>フォロワーランキング</h1>
<div class="row">
  <% @users.each_with_index do |user, index| %>
    <div class="user">
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading text-center">
          </div>
          <div class="panel-body">
            <p class="user-title">
              <%= link_to user.name, user %>
            </p>
            <p>
              <%= image_tag user.profile_image.url, size: "50x50" if user.profile_image? %>
            </p>
            <div class="buttons text-center">
            </div>
          </div>
          <div class="panel-footer">
            <p class="text-center">
              <%= index+1 %>位: 
              <%= @ranking_counts[user.id] %>フォロー
            </p>
          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>
