<% unless logged_in? %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>自然派ワイン専門のレビューサイトへようこそ！</h1>
      <%= link_to '新規登録する', signup_path, class: 'btn btn-lg btn-primary'%>
    </div>
  </div>
<% else %>
  <% render 'microposts/index' %>
<% end %>
