<% unless logged_in? %>
  <div class="jumbotron">
    <div class="text-center">
      <h1>自然派ワイン専門のレビューサイトへようこそ！</h1>
      <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary'%>
      <br>
      <br>
      <p>登録済みの方はこちら <%= link_to 'ログイン', login_path %></p>

    </div>
  </div>
<% else %>
  <% render 'microposts/index' %>
<% end %>
